* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: fit-content;
    overflow-x: hidden;
}

.resume {
    background-color: #f1f1f3;
}

.resume .box1 {
    background-color: #ededef;
}

.resume .box2 {
    background: #ededef;
}

.resume .dp {
    position: relative;
    width: 70%;
    height: 0;
    padding: 70% 0 0;
    border-radius: 50%;
    overflow: hidden;
}

.resume .dp img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resume .oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.resume .uppercase {
    text-transform: uppercase;
}

.resume .name {
    text-transform: uppercase;
    color: #0185c6;
}

.resume .profession {
    color: #89898b;
    letter-spacing: 4px;
    font-weight: 200;
}

.resume .heading {
    font-weight: 400;
    color: #424244;
    text-transform: uppercase;
}

.resume .subheading {
    font-weight: 600;
    color: #03afe9;
    text-transform: uppercase;
}

.resume .text {
    font-size: 22px;
    color: #636365;
    font-weight: 400;
    text-align: left ;
    line-height: 1;
}

.resume .hr-mid {
    width: 50px;
    height: 6px;
    display: inline-block;
    background-color: #32aed7;
    position: relative;
    top: -33px;
}

.resume .skills .progress {
    --bs-progress-height: 8px;
    --bs-progress-bg: #b8b9bb;
    border-radius: 0px;
}

.resume .skillstext {
    font-size: 20px;
    color: #919294;
    font-weight: 350;
    text-transform: uppercase;
}

.resume .skills .progress-bar {
    background-color: #414143;
}

.resume .skills .progressbars .row>* {
    padding: 0px;
}

.resume .prj .text {
    font-size: 24px;
    color: #646466;
}

.resume .w-30 {
    width: 30%;
}

.resume .w-70 {
    width: 70%;
}


@media (min-width: 992px) and (max-width: 1400px) {
    .resume .name {
        font-size: 30px;
    }

    .resume .profession {
        font-size: 24px;
    }

    .resume .heading {
        font-size: 26px;
    }

    .resume .subheading {
        font-size: 24px;
    }

    .resume .text {
        font-size: 16px;
    }

    .resume .skillstext {
        font-size: 14px;
    }

    .resume .prj .text {
        font-size: 19px;
    }
}

@media (max-width: 991px) {
    .resume .text {
        font-size: 18px;
    }

    .resume .skills {
        text-align: center;
    }

    .resume .techstack {
        text-align: center;
    }

    .resume .prj .text {
        font-size: 18px;
        text-align: center;
    }

    .resume .contact .text{
        text-align:center;
    }

    .resume .prj{
        text-align: center;
    }
}